<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <springProperty scope="context" name="logPath" source="logging.file.path" defaultValue="./logs/lingxi-admin"/>
    <springProperty scope="context" name="lingxiLogLevel" source="logging.level.com.lingxi" defaultValue="INFO"/>
    <springProperty scope="context" name="springLogLevel" source="logging.level.org.springframework" defaultValue="WARN"/>

    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method,%line] - %msg%n"/>
    <property name="max.file.size" value="100MB"/>
    <property name="max.history" value="30"/>
    <property name="total.size.cap" value="5GB"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="file_all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/all.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${max.file.size}</maxFileSize>
            <maxHistory>${max.history}</maxHistory>
            <totalSizeCap>${total.size.cap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${max.file.size}</maxFileSize>
            <maxHistory>${max.history}</maxHistory>
            <totalSizeCap>${total.size.cap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="com.lingxi" level="${lingxiLogLevel}"/>
    <logger name="org.springframework" level="${springLogLevel}"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file_all"/>
        <appender-ref ref="file_error"/>
    </root>
</configuration>
